In [2]:
import numpy as np
import pandas as pd

## Series是通用的Numpy数组

In [17]:
data = pd.Series(0.25*np.arange(1,5))
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [20]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [19]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [25]:
data*4

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [26]:
data = pd.Series(0.25*np.arange(1,5), index=list('abcd'))
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [29]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [30]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

## Series是特殊的字典

In [3]:
population_dict = {'California': 38332521,
               'Texas': 26448193,
               'New York': 19651127,
               'Florida': 19552860,
               'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [4]:
type(population)

pandas.core.series.Series

In [5]:
population['Texas']

26448193

In [31]:
population['Texas':'Illinois']

Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

In [32]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [34]:
population.values

array([38332521, 26448193, 19651127, 19552860, 12882135])

In [37]:
x = pd.Series({2:'a', 1:'b', 3:'c'})
x

2    a
1    b
3    c
dtype: object

In [38]:
x.index

Int64Index([2, 1, 3], dtype='int64')

In [39]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [40]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

## DataFrame 是通用的 NumPy 数组

In [41]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [42]:
states = pd.DataFrame({'population': population, 'area': area})

In [43]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [44]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [45]:
states.columns

Index(['population', 'area'], dtype='object')

## DataFrame 是特殊的字典

In [46]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [47]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [48]:
pd.DataFrame(population, columns=['popu'])

                popu
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [49]:
data1 = [{'a':i, 'b': 2*i} for i in range(3)]
pd.DataFrame(data1)

   a  b
0  0  0
1  1  2
2  2  4

In [58]:
x = [[i*j for i in range(1,10) ] for j in range(1,10)]

x

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]