In [4]:
import pandas as pd
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
                 'value':[0,5,10,25,10,8]})

In [5]:
df

  key  value
0   A      0
1   B      5
2   C     10
3   A     25
4   B     10
5   C      8

In [11]:
import numpy as np
df.groupby('key').aggregate(np.mean)

     value
key
A     12.5
B      7.5
C      9.0

In [12]:
df.min()

key      A
value    0
dtype: object